{% extends 'base.html' %}

{% block content %}
    <div class="col-md-9">
        <div class="container">
            {% for item in posts %}
                <div class="card mb-3">
                    <div class="card-header">
                        Категория: <a href="{{ item.cat.get_absolute_url }}">{{ item.cat }}</a>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" width="200" class="mr-3">
                            {% else %}
                                <img src="https://picsum.photos/200/300" width="200" class="mr-3">
                            {% endif %}
                            <div class="media-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.content|linebreaks|truncatewords:10 }}</p>
                                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Подробнее..</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-muted">
                        {{ item.time_create|date:'Y-m-d' }}
                    </div>
                </div>
            {% empty %}
                Oops...
            {% endfor %}
        <!--Start pagination-->

            {% if page_obj.has_other_pages %}
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Предыдущая</a>
                            </li>
                        {% endif %}
                        {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                                <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Следующая</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

            <!--End pagination-->
        </div>
    </div>
{% endblock %}