{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
    <div class="col-md-9">
        <div class="container">
            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a href="{{ post.cat.get_absolute_url }}">{{ post.cat }}</a>
                </div>
                <div class="card-body">

                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" width="600" class="float-start mx-3">
                    {% else %}
                        <img src="https://picsum.photos/200/300" width="350" class="float-start mx-3">
                    {% endif %}

                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|safe|linebreaks }}</p>

                </div>
                <div class="card-footer text-muted">
                    Дата публикации: {{ post.time_create|date:'Y-m-d' }}
                </div>
            </div>

            <p>Комментарии</p>
            <hr>
            {% for item in post.comments_posts.all %}
                {% if item.is_published %}
                    <div class="card mb-3">
                        <div class="card-body">
                            {{ item.content }}
                        </div>
                        <div class="card-footer text-muted">
                            Дата создания: {{ item.time_create|date:'Y-m-d' }}
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <p>Нет комментариев</p>
            {% endfor %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for m in messages %}
                        {{ m }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="col-4">
                <form action="" id="add_form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
                <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>

            </div>


        </div>
    </div>
{% endblock %}